.input-box-sub{
  padding: 10px ;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px; 
  text-align: center;
  width:70%
}
.add-btn{
  
  border: 1px solid rgb(54, 121, 222);
  border-radius: 10px; 
  text-align: center;
  margin-left:6px;
  
}